html, body {
  height: 100%;
  min-width: 820px;
}

.full-h {
  height: 100%;
  padding-top: 70px;
}

.full-map {
  display: inline-block;
  height: 100%;
  width: 77%;
}

#mark-map { width: 100%; }

.map-side {
  display: inline-block;
  height: 100%;
  width:22%;
}

.no-collapse { min-width: 820px; }
